@import "tailwindcss";
@import "./fonts.css";
@import "./transition.css";
@import "./pattern.css";
@import "./header.animation.css";
@import "./clip-path.animation.css";
@import "./sparkles.animation.css";

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html {
  @apply bg-background scroll-smooth;
}

* {
  @apply scroll-mt-14;
}

@theme {
  --breakpoint-xs: 25rem;
  --font-display: "Satoshi", "sans-serif";
  --font-heading: "Magilio", "sans-serif";
  --font-magic: "Fira", "sans-serif";
  --color-background: #f2fcf3;
  --color-text: #010511;
}

.animate-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    background-color: var(--color-stone-400);
    border-color: var(--color-background);
    color: var(--color-background);
  }
  100% {
    background-color: var(--color-background);
    border-color: var(--color-stone-400);
    color: var(--color-stone-900);
  }
}

.h-auto-dvh {
  height: calc(100dvh - 2rem);
}

.w-header {
  width: calc(100% - 2rem);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* 1rem is the gap of the container */
    transform: translateX(calc(-50% - 1rem));
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}
