:root {
  --clip-path-delay: 600ms;
}

.cp-from-b,
.cp-from-t {
  clip-path: inset(0 0 0 0);
  transition: all 750ms;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
  transition-delay: var(--clip-path-delay);
}

.cp-long {
  transition-delay: calc(var(--clip-path-delay) * 4);
}

.cp-half-from-l {
  clip-path: inset(0 0 0 50%);
  transition: all 750ms;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
  transition-delay: calc(var(--clip-path-delay) * 4);
}

@starting-style {
  .cp-from-b {
    clip-path: inset(0 0 100% 0);
  }
  .cp-from-t {
    clip-path: inset(100% 0 0 0);
  }
  .cp-half-from-l {
    clip-path: inset(0 0 0 0);
  }
}

.cp-button {
  clip-path: inset(100% 0 0 0);
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

div:hover > .cp-button,
.cp-button:focus {
  clip-path: inset(0 0 0 0);
}

.cp-image {
  clip-path: inset(0 0 0 100%);
  transition: clip-path 1500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
  @variant group-hover/container {
    clip-path: inset(0 0 0 0);
  }
}
