.boxes-bg {
  --color-boxes: rgba(255, 251, 235, 0.1);
  background-image: linear-gradient(var(--color-boxes) 1px, transparent 1px),
  linear-gradient(
      to right,
      var(--color-boxes) 1px,
      transparent 1px
  );
  background-size: 20px 20px;
  -webkit-mask-image: radial-gradient(
      circle at center,
      var(--color-stone-900) 0%,
      var(--color-stone-900) 30%,
      rgba(28, 25, 23, 0.5) 50%,
      transparent 70%
  );
  mask-image: radial-gradient(
      circle at center,
      var(--color-stone-900) 0%,
      var(--color-stone-900) 30%,
      rgba(28, 25, 23, 0.5) 50%,
      transparent 70%
  );
}
